NODE_ENV=development
PGURL=postgresql://<USERNAME>@localhost:5432/statreg_db

KEYCLOAK_CLIENT_ID=oauth2-proxy-ssbno-statreg-api
KEYCLOAK_CLIENT_SECRET=<Fetch from Secret Manager in Google Cloud Platform>
KEYCLOAK_WELL_KNOWN_URL=https://auth-play.test.ssb.no/realms/ssb/.well-known/openid-configuration

ENTRA_READER_AZURE_TENANT_ID=<Fetch from Secret Manager in Google Cloud Platform>
ENTRA_READER_AZURE_CLIENT_ID=<Fetch from Microsoft Azure AD>
ENTRA_READER_AZURE_CLIENT_SECRET=<Fetch from Microsoft Azure AD>