# Ignore the dist folder
dist/

# Ignore node_modules
node_modules

# Ignore coverage folder
coverage/

# Ignore generate folder, you should make your own. 
# Use npm run generate
generated/

# Do not commit your .env file, please
.env