# Ignore the dist folder
**/dist
**/node_modules
**/generated

coverage/
.pnpm-store/

# Do not commit your .env file, please
.env
*/.env
.DS_Store

# Docker override when dev:auth needs adjustments to work (e.g. on WSL)
docker-compose.override.yaml
