NODE_ENV=development
PGURL=postgresql://<USERNAME>@localhost:5432/statreg_db
PGURL_DOCKER=postgresql://<USERNAME>@host.docker.internal:5432/statreg_db 

KEYCLOAK_CLIENT_ID=oauth2-proxy-ssbno-statreg
KEYCLOAK_CLIENT_SECRET=placeholder-keycloak_client_secret
KEYCLOAK_WELL_KNOWN_URL=https://auth-play.test.ssb.no/realms/ssb/.well-known/openid-configuration

ENTRA_READER_AZURE_TENANT_ID=placeholder-azure_tenant_id
ENTRA_READER_AZURE_CLIENT_ID=placeholder-azure_client_id
ENTRA_READER_AZURE_CLIENT_SECRET=placeholder-azure_client_secret

AUTH_ENABLED=false
ADMIN_GROUPS="dapla-group-1,dapla-group-2"
MOCK_ENTRA_USERS=false