.create-variant-modal-form {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-9);

  .create-variant-modal-form-buttons {
    display: flex;
    margin-top: var(--ds-size-3);
    gap: var(--ds-size-6);
  }
}
