.row-count-selector {
  display: flex;
  justify-content: end;
  margin-bottom: var(--ds-size-8);
}

.truncated-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 340px;
}