openapi: 3.1.0
info:
  title: Statreg API
  version: 1.1.0
  description: API for managing publications, statistics and metadata for Statistics Norway

servers:
  - url: https://ssb.no/statreg-api

tags: 
  - name: statistics
    description: Statistics information and manipulation
  - name: releases
    description: Releases endpoints
  - name: variants
    description: Variants endpoints
  - name: shortnames
    description: Listing all shortnames
  - name: nonReleasingDays
    description: Information about which days not allowed for publishing

paths:
  /statistics:
    get:
      summary: List all statistics
      tags: 
        - statistics
      responses:
        '200':
          description: List of statistics
    post:
      summary: Create a new statistic
      tags: 
        - statistics
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '201':
          description: Statistic details

  /statistics/{shortname}:
    get:
      summary: Get a statistic
      tags: 
        - statistics
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Statistic details
    put:
      summary: Update a statistic
      tags: 
        - statistics
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '200':
          description: Statistic details

  /statistics/{shortname}/variants:
    post:
      summary: Create a variant
      tags: 
        - statistics
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '201':
          description: Variant created
  /statistics/{shortname}/variants/{id}:
    put:
      tags: 
        - statistics

  /statistics/{id}/versions:
    get:
      summary: List all versions with changes and comment
      tags: 
        - statistics
      responses:
        '200':
          description: List of versions

  /releases:
    get:
      summary: List all releases
      tags: 
        - releases
      responses:
        '200':
          description: List of releases
    post:
      summary: Create a new release
      tags: 
        - releases
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '201':
          description: Release details

  /releases/{id}:
    get:
      summary: Get a releases
      tags: 
        - releases
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Release details
    put:
      summary: Update a release
      tags: 
        - releases
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '200':
          description: Release details
    delete: # Skal vi kunne dette eller bare en put med en "slettet" variabel?
      tags: 
        - releases

  /releases/{id}/versions:
    get:
      summary: List all versions on q release with change and comment
      tags: 
        - releases
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of versions

  /nonReleasingDays:
    get:
      summary: List with all non releasing days
      tags: 
        - nonReleasingDays
      parameters:
        - name: variantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List with all non releasing days
    put:
      summary: Update list with non releasing days
      tags: 
        - nonReleasingDays
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '200':
          description: Updated list

  /shortnames:
    get:
      summary: List all shortnames, both in use and previously used
      tags: 
        - shortnames
      responses:
        '200':
          description: List of shortnames
