.create-release-tables-tab {
  width: 100%; 
  row-gap: var(--ds-size-10);

  ds-tablist {
    margin-bottom: var(--ds-size-10);
  }

  .description-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}