.create-statistic-container {
  .create-statistic-heading {
    margin-top: var(--ds-size-18);
    margin-bottom: var(--ds-size-18);
  }

  .create-statistic-form {
    display: flex;
    flex-direction: column;
    gap: var(--ds-size-9);
    width: 100%;

    .ds-divider {
      margin-top: var(--ds-size-9);
      margin-bottom: var(--ds-size-4);
    }

    .create-statistic-form-status-label {
      display: flex;
      align-items: center;
    }

    .create-statistic-form-buttons {
      display: flex;
      gap: var(--ds-size-4);
    }
  }

  .ds-field,
  .ds-alert {
    max-width: 50%;
  }

    .contact-field {
      max-width: 100%;
      margin-top: var(--ds-size-4);
    }

    .contact-section-description {
      color: var(--ds-color-neutral-text-subtle);
    }
}
