.blocked-days-table th:first-child,
.blocked-days-table td:first-child {
  width: 300px;
}

.blocked-days-table th:last-child,
.blocked-days-table td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.blocked-days-delete-btn {
  padding: 2px !important;
  min-height: unset !important;
}

.blocked-days-delete-placeholder {
  display: inline-block;
  width: 71px;
  height: 24px;
}
