.list-releases-heading-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-releases-calendars-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);

  .list-releases-calendars-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: var(--ds-size-12);

    .list-releases-color-legend-popover {
      display: flex;
      align-items: center;

      svg {
        color: var(--ds-color-text-subtle);
      }
    }
  }

  .list-releases-calendars-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .list-releases-calendars {
      display: flex;
      gap: var(--ds-size-14);
      align-items: start;
    }

    .aksel-date__caption-button {
      visibility: hidden;
    }
  }
}

.list-releases-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--ds-size-8);
  width: 100%;
}