.container {
  width: 80%;
  margin: 0 auto;
}

#header {
  grid-area: header;
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);

  .header-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 26px 0;
  }

  .logo {
    width: 262px;
  }
}

#page-content {
  grid-area: main;

  .content {
    display: grid;
    gap: var(--ds-size-12);
  }
}