/* TODO: Consider using scss mixins for flex styling */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);

  .header-content {
    width: 80%;
    padding: 26px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    .logo {
      width: 262px;
    }
  }
}

#page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--ds-size-13) 0;
  
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: var(--ds-size-12);
    align-items: start;

    div > *:not(:last-child) {
      margin-bottom: var(--ds-size-3);
    }
  }
}