.release-form {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-12);

  p {
    margin-bottom: var(--ds-size-8)
  }

  .release-form-button-wrapper {
    display: flex;
    gap: var(--ds-size-3);
  }
  
  .release-form-period-fieldset-wrapper {
    display: flex;
    gap: var(--ds-size-12);
  }
}

.related-releases-tables-tab {
  width: 100%;
  row-gap: var(--ds-size-10);
  
  ds-tablist {
    margin-bottom: var(--ds-size-10);
  }

  .description-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--ds-size-10);
  }

  .row-count-select-wrapper {
    display: flex;
    justify-content: end;
    margin-bottom: var(--ds-size-8);
    width: 100%;
  }
}
