.show-statistic-variants-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--ds-size-6);
  margin-top: var(--ds-size-6);
  margin-bottom: var(--ds-size-6);
}

.show-statistic-contacts-container {
  .edit-contact-button {
    margin-top: var(--ds-size-4);
  }
}
